p{
    text-align: justify;
}

/*Cabeçalho*/

.input-group-text{
    background-color: white;
}

.nav-item a:hover{
    background-color: rgb(221, 79, 79);
    
}

.logo-img{
    width: 240px;
}

.logo-img2{
    width: 200px;
}

/*Main*/

.bg-car{
    background-color: rgb(229, 226, 226);
}

.lancamento{
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
}

.darker-section {
    background-color: #E4E4E4;
}

.carousel li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #454545;
}

.video-car{
    position: relative;
    height: 100%;
    width: 100%;
}

.car-sec {
    min-height: 450px;
    padding: 20px;
    padding-bottom: 60px;
}

.card{
    margin-bottom: 20px;
    min-height: 500px;
}

.card img{
    height: 340px;
}

.destaque-area{
    margin-top: 20px;
    margin-bottom: 10px;
}

.dropdown{
    float: right;
}

.btn-area{
    border-color: #e7e7e7;
}

.btn-area:hover {
    background: #c2bcbcf1;
}

.dropdown-menu a:hover{
    background: #c2bcbcf1;
}

.row-ult{
    margin-top: 15px;
    margin-bottom: 20px;
}

.row-aval p{
    text-align: justify;
    text-justify: inter-word;
}

.btn-card2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.video-ent{
    position: relative;
    height: 240px;
    width: 100%;
}

.ent-mg{
    margin-top: 10px;
}

.makingof{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #343a40;
}

.letra-ent{
    color: whitesmoke;
}

.novidades{
    margin-top: 20px;
    margin-bottom: 80px;
}

.fa-user{
    font-size: 24px;
}

/*Rodapé*/

.footer{
    background-color: #343a40;
    color:white;
    margin-top:20px;
}

.footer-area{
    padding-top: 15px;
    text-align: center;
}

.logo-rodape{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* BREAKPOINTS */

@media screen and (max-width: 340px){
    .logo-img{
        width: 170px
    }
}

@media screen and (max-width: 992px){
    .nav-al li{
        text-align: center;
    }

    .search-btn{
        text-align: center;
    }
}
@media screen and (min-width: 768px){
    .btn-mais{
  
        position: absolute;
        display: inline-block;
        right:    5px;
        bottom:   5px;
    }

    .par-filmes{
        margin-bottom: 40px;
    }
    
}

@media screen and (max-width: 767px){
    .btn-mais{
        
        right:    5px;
        bottom:   5px;
    }
    .coluna-mais{
        justify-content: center;
    }

    .titulo-search{
        margin-top: 10px;
        text-align: center;
    }

    .res-search{
        justify-content: center;
    }
}

/*PÁGINA DE PESQUISA*/

.pesq-div{
    padding-top: 20px;
    padding-bottom: 15px;
}



.box-filme{
    margin-top: 20px;
    margin-top: 20px;
    border-radius: 20px !important;
    background-color: #f1f8ff;
    border-width:0.5px;
    border-style:solid;
    border-color: #bec9d4;    
}

#body2{
    background-color: rgb(237, 237, 238);
}

.footer2{
    position: absolute;
    bottom: auto;
    width: 100%;
}

.page-container{
    position: relative;
    min-height: 100vh;
}

.cont-movie{
    border-radius: 10px;
    
    color:white;
     
    padding: 20px;
    margin-top: 20px;
}

.holding{
    position: relative;
}

#body3, #body2{
    background-image: url("./imgs/bg.jpg");
    
}

.img-movie{
    border-radius: 10px !important;
}

.trailer-div{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.trailer-info{
    margin-top: 20px;
    height: 400px;
    width: 75%;
    
}

.progress {
    width: 60px;
    height: 60px;
    background: none;
    position: relative;
  }
  
  .progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  
  .progress .progress-left {
    left: 0;
  }
  
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  
  .progress .progress-right {
    right: 0;
  }
  
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  
  .progress .progress-value {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .pc-text{
    margin-top: 5px;
}

.bar-xd{
    margin-left: 8px
}

@media screen and (max-width: 767px){
   .text-movie{
       margin-top: 20px;
   }
}